__pycache__/
*.py[cod]
*.so
*.dylib
*.DS_Store
._*
*.swp
.fuse_hidden*
md_log.txt
traj.dcd
traj_fixed.dcd
top.pdb
minimized.pdb
out.dcd
checkpoint.chk
*.chk
analysis/
openmm-8.3.1/
openmmtools-0.25.3/
deeptime-0.4.5/
data/
generated_configs/
