paths:
  pdb: ../biomolecular_model_systems/peptides/small/diala.pdb
  output_root: data/md_runs  # results stored in <output_root>/<pdb-name>/
  run_id: production         # subdirectory under simulations/
  topology: topology.pdb
  minimized: minimized.pdb
  trajectory: traj.dcd
  log: md_log.txt
  checkpoint: checkpoint.chk

force_fields:
  - amber19/protein.ff19SB.xml
  - amber19/tip3pfb.xml

thermodynamics:
  temperature: 300
  pressure: 1
  friction_coefficient: 1.0
  step_size: 0.004  # 4 fs with HMR

system:
  nonbonded_cutoff: 1.0
  solvent_padding: 1.5
  ionic_strength: 0.15
  hydrogen_mass: 4.0

simulation:
  nvt_steps: 25000         # 25,000 × 0.004 ps = 100 ps
  npt_steps: 25000         # 25,000 × 0.004 ps = 100 ps
  production_steps: 250000000  # 250,000,000 × 0.004 ps = 1,000,000 ps = 1 µs

reporting:
  dcd_interval: 25000
  stdout_interval: 5000
  log_interval: 5000

restraints:
  force_constant: 0.0 #1000
  # MDAnalysis selection string, e.g. "protein and not name H*"
  selection: "backbone"
  #selection: "name Na"

hrex:
  default:
    paths:
      root: data/hrex_runs/default
    protocol:
      lambda_schedule: [1.0, 0.85]
      barostat_frequency: 50
    mcmc:
      timestep: 0.004
      collision_rate: 1.0
      n_steps_per_iteration: 500
      splitting: "V R O R V"
    iterations:
      equilibration_iterations: 20
      production_iterations: 100
      checkpoint_interval: 10
    reporting:
      position_interval: 1
      velocity_interval: 0
      analysis_particles: []
    alchemical_region:
      selection: "protein and resid 1"
      annihilate_electrostatics: true
      annihilate_sterics: true
